{% extends 'mi_app/base.html' %}
{% block content %}
<div class="container">
    <h2 class="mt-4">{% if form.instance.pk %}Editar{% else %}Nuevo{% endif %} Periodo</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.nombre.label_tag }}
            {{ form.nombre }}
        </div>
        <div class="mb-3">
            {{ form.fecha_inicio.label_tag }}
            {{ form.fecha_inicio }}
        </div>
        <div class="mb-3">
            {{ form.fecha_fin.label_tag }}
            {{ form.fecha_fin }}
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
        <a href="{% url 'periodo_list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
