{% extends 'mi_app/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Lista de Grupos</h2>
    <a href="{% url 'group_create' %}" class="btn btn-primary mb-3">Agregar Grupo</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for group in object_list %}
            <tr>
                <td>{{ group.name }}</td>
                <td>
                    <a href="{% url 'group_update' group.pk %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'group_delete' group.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                   <a href="{% url 'asignar_usuarios_a_grupo' group.pk %}" class="btn btn-info btn-sm">Asignar Usuarios</a>

                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2" class="text-center">No hay grupos registrados.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
